{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur le store de Ouafae et Madi ! ✅</h1>
    <h2> Black Friday everyday ^_^</h2>
    <div>
    {% for article in articles %}
    <div>
        <h3>{{article.title}}</h3>
        
        <p>{{article.content}}</p>
        <p>date de création :{{article.createdAt|date}}</p>
        <p>date de modification :{{article.updatedAt|date}}</p>

        {% if article.Author %}
        <p>Auteur :{{article.Author.name}}</p>
        {% endif %}
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
