{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Rechercher un produit ✅</h1>

    {{ form_start(productForm) }}
       <p> Enter max price</p> {{ form_row(productForm.price) }}
        {{ form_row(productForm.category) }}
        {{ form_row(productForm.seller) }}

        <button type="submit" class="btn">Rechercher</button>
    {{ form_end(productForm) }}
    <div>
    <h1>Voici la liste de nos produits ! ✅</h1>
    {% for product in products %}
    <div>
        <h3>{{product.title}}</h3>
        
        <p>{{product.description}}</p>
        <p>{{product.price}}</p>
        <p>{{product.quantity}}</p>
        <p>{{product.color}}</p>
        <p>date de création :{{product.createdAt|date}}</p>
        <p>date de modification :{{product.updatedAt|date}}</p>

        {% if product.seller %}
        <p>Auteur :{{product.seller.name}}</p>
        {% endif %}
       <a href="{{path('app_home_product', {'id': product.id} )}}"><h2> plus d'informations <h2></a>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
