{% extends 'base.html.twig' %}

{% block title %}Hello ClientProductsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Tout les produits à vendre ✅</h1>
    <ul class="bloc_card_product">
    
    {% for product in products %}
    <div class="card_product">
        <li><span>Title:</span> {{product.title}}</li>
        <div class="card_product_details">
            <p><span>Description:</span> {{product.description}}</p>
            <p><span>Price : </span>{{product.price}} €</p>
            <p><span>Quantity :</span>{{product.quantity}}</p>
            <p><span>Color: {{product.color}}</span></p>
            <p><span>Date création:</span> {{product.createdAt|date}}</p>
            <p><span>Date update :</span> {{product.updatedAt|date}}</p>
            {% if product.seller %}
            <p><span>Auteur : </span>{{product.seller.name}}</p>
            <button class="btn">Ajouter au panier</button>
        </div>
        {% endif %}
        
    </div>

    {% endfor %}
    </ul>

</div>
{% endblock %}
