{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Page profil </h1>
    <ul>
    <li>Nom : {{user.name}}</li>
    <li>Prénom : {{user.firstname}}</li>
    <li>Email : {{user.email}}</li>
    <li>Status : </li>
    <a href="{{ path('app_profile_edit',{'id':user.id}) }}">Update profile</a>
    <a href="{{ path('app_profile_password_edit',{'id':user.id}) }}">Update password</a>
    </ul>

    <h1> Mes produits à vendre :</h1>
    <a href="{{ path('app_product_create') }}">Create product</a>
    <div>
    {% for product in products %}
        <div>
            <h3>{{product.title}}</h3>
            <a href="{{ path('app_product_edit',{'id':product.id}) }}">Edit</a>
            {{ include('content/product/delete.html.twig') }}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
