{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Page profil </h1>
    <ul>
    <li>Nom : {{user.name}}</li>
    <li>Prénom : {{user.firstname}}</li>
    <li>Email : {{user.email}}</li>
    <li>Status : </li>
    <a href="{{ path('app_profile_edit',{'id':user.id}) }}">Update profile</a>
    <a href="{{ path('app_profile_password_edit',{'id':user.id}) }}">Update password</a>
    </ul>

    <h1> Mes produits à vendre :</h1>
    <a href="{{ path('app_product_create') }}"><p class="btn">Create product</p></a>
    <div>
    <ul class="bloc_card_product">
    
    {% for product in products %}
    <div class="card_product">
        <li><span>Title:</span> {{product.title}}</li>
        <div class="card_product_details">
            <p><span>Description:</span> {{product.description}}</p>
            <p><span>Price : </span>{{product.price}} €</p>
            <p><span>Quantity :</span>{{product.quantity}}</p>
            <p><span>Color: {{product.color}}</span></p>
            <p><span>Date création:</span> {{product.createdAt|date}}</p>
            <p><span>Date update :</span> {{product.updatedAt|date}}</p>
            {% if product.seller %}
            <p><span>Auteur : </span>{{product.seller.name}}</p>
            <a href="{{ path('app_product_edit',{'id':product.id}) }}"><P class="btn">Edit</p></a>
            {{ include('content/product/delete.html.twig') }}
        </div>
        {% endif %}
        
    </div>

    {% endfor %}
    </ul>
    
    
    </div>
</div>
{% endblock %}
